body {
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    font-family: 'Saint Regus', sans-serif;
    font-weight: 700;
    color: rgb(1, 1, 15);
    margin-top: -60px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    height: 40px;
    margin-right: 30px; 
}

.navbar nav {
    display: flex;
    gap: 20px;
    font-family: 'Saint Regus', sans-serif;
    font-weight: 700;
    color: rgb(1, 1, 16);
    background-color: white;
    height: 40px;
}

.navbar nav a {
    color: rgb(2, 2, 22);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    display:flex;
}

.navbar nav a:hover {
    transform: scale(1.1);
}

.connect-link {
    display: flex;
    align-items: center;
}

.connect-button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin-right: 40px;
    margin-top: 0px;
}

.connect-button:hover {
    background-color: white;
    color: black;
}
/* Insights Template Styles */
.insights-template {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    top:0;
    left:0;
    width: 100%;
    margin-top: 60px;
    height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(2, 1, 15, 0.4); /* Fallback color */
    background-color: rgba(2, 1, 15, 0.4); /* Black w/ opacity */
}

.insights-content {
    font-family:'Arial', 'sans-serif';
    position:relative;
    background-color: #001428;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 60vh;
    color: whitesmoke;
}

.insightnav1 {
    width: 50%;
    margin-left:20px;
    height: 50px;
    padding:10px;
    font-weight:500px;
}

.insightnav2 {
    margin-left: 50%;
    margin-top:-70px;
    padding:10px;
    font-weight:500px;
}

.insights-content h2{
    font-family:'Arial', 'sans-serif';
    font-size: 40px;
    padding: 30px;
    margin-top:0px;
}

.insights-content h3{
    font-family:'Arial', 'sans-serif';
    font-size:30px;
    margin-top:-30px;
    margin-left:30px;
}

.insights-content a{
    font-family:'Arial', 'sans-serif';
    font-size: 20px;
    color: whitesmoke;
    cursor:pointer;
    text-decoration: none;
}

.insights-content a:hover{
    font-size: 20px;
    color: whitesmoke;
    cursor:pointer;
    text-decoration: underline;
}

.close-insights {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-insights:hover,
.close-insights:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.section1{
    position:relative;
    height:100vh;
}
.section1-left{
    margin-top:60px;
    align-content: center;
    font-family: 'Georgia', 'serif';
    width:100%;
    padding:30px;
    height: 60vh;
    transition: transform 0.3s ease-in-out;
}
.circle-container {
    position: flex;
    margin-left:60%;
    margin-top:-437px;
    overflow:hidden;
    /* Adjust to move circle slightly off-screen */
    width: 400px; /* Diameter of the circle */
    height: 398.5px; /* Diameter of the circle */
    background-color: #1d2426; /* Background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family:'Arial', 'sans-serif';
}

.circle-content p {
    color: white; /* Text color */
    text-align: center;
    font-family: 'Arail','sans-serif'; /* Font style */
    font-size: 18px; /* Font size */
    font-weight: 600;
    margin: 0;
}

.section1-right{
    font-family:'Arial', 'sans-serif';
    background-color:#1d2426;
    margin-left:78%;
    margin-top:-200px;
    height:70vh;
    margin-right:30px;
}

.section-back{
    position: relative;
            height: 70vh;
            background: repeating-linear-gradient(
                45deg,
                #e0e0e0,
                #e0e0e0 ,
                #f4f4f4 1px,
                #f4f4f4 5px
            );
            display:flex;
            justify-content:center;
            align-items:center;
            margin-top:10px;
            margin-bottom:10px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.background-video {
    background: url('https://pro-st.invideo.io/progressive/video?preset=sd240_mp4&key=5947cb1f-138e-4bbf-bb3d-765a50f20477/5947cb1f-138e-4bbf-bb3d-765a50f20477&bucket=iv-prod-pro-stocks&region=us-west-2') no-repeat center center/cover;
    animation: fadeIn 1s ease-in;
    margin-top:60px;
    background-size: cover;
    background-position: fill;
    position: absolute;
    margin-left:0px;
    margin-right:80%;
    height: 100vh;
    z-index: -1;
}

.section-conten{
    padding:30px;
    width: 85%;
}
.section-content{
    padding:30px;
    border: 2px solid rgb(9, 185, 221);
    width: 85%;
}

.section {
    background-color: #f0f4f5;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.section-jon {
    position: relative;
    width: 100%;
    height: 40vh;
    background: url('https://images.pexels.com/photos/1957478/pexels-photo-1957478.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* White text for better visibility */
    text-align: center;
}

.section-jon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
}

.section-jon h2{
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
}
.section-jon p {
    margin-bottom:40px;
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
}


.section-miss{
    background-color: rgb(11, 52, 87);
    color: white;
    margin-right:55%;
    padding:30px;
    margin-top:10px;
    transition: transform 0.3s ease-in-out;
    height:35vh;
}

.section-com{
    height:35vh;
    margin-left:55%;
    margin-top: -238px;
    padding :30px;
    background-color:rgb(122, 61, 18); 
    color:white;
    font-family: 'Georgia', 'serif';
    transition: transform 0.3s ease-in-out;
}
.section-miss:hover{
    transform: translateY(-10px);
}

.section-com:hover {
    transform: translateY(-10px);
}
.section-miss p{
    margin-bottom:15px;
}
.section-com p{
    margin-bottom:15px;
}
ul {
    list-style-type: disc;
    color: #555;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}
.section-what{
    background-color: white;
    padding: 30px;
    display:flex;
            justify-content:center;
            align-items:center;
}

.section-content-what{
    border: 2px solid rgb(9, 185, 221);
    width: 90%;
}

.section-content-what1{
    margin-left:10%;
    padding :30px;
}
.section-content-what1 h2{
    margin-top:-10px;
    margin-left:32%;
    padding:30px;
}
.section-content-what2{
    margin-top:-250px;
    margin-left:60%;
    padding :30px;
}
.read-more-button1 a {
    margin-bottom:50px;
    margin-left: 43.5%;
    background-color: white; /* Use transparent instead of rgba(0, 0, 0, 0.0) */
    color: black;
    padding: 13px 22px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
    font-family: 'Saint Regus', 'sans-serif';
    font-weight: 700;
    display: inline-block; /* Ensures the padding and border work correctly */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition effect */
}

.read-more-button1 a:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}
.read-more-button2 a {
    background-color: transparent; /* Use transparent instead of rgba(0, 0, 0, 0.0) */
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    text-decoration: none;
    font-weight: 700;
}

.read-more-button2 a:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.footer-section {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}

.footer-section .footer-content{
    margin-left: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .section {
        padding: 20px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0;
    }
}
